.section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.section--green {
  background-color: #E07A5F;
}

.section--blue {
  background-color: #81B29A;
}
.section--cream {
  background: #F4F1DE;
}
.square {
  width: 200px;
  height: 200px;
  background-color: #fff;
  transition: border-radius 1s;
}

.square--active {
  border-radius: 20px;
}

img {
  display: block;
  width: 400px;
  height: 400px;
  position: absolute;
  top: calc(50% - 200px);
  left: calc(50% - 200px);
}
